<div class="home">
<h2 class="home__title">WE CAN STOP ILLEGAL LOGGING AND POACHING</h2>
<div class="home__content">
  <img class="home__img" src="./assets/img/infographic.450.gif" alt="">
  <p class="home__text">
    Rainforest Connection (RFCx) transforms recycled cell-phones into autonomous, solar-powered listening devices that can monitor and pinpoint chainsaw activity at great distance.
    This changes the game by providing the world's first real-time logging detection system, pinpointing deforestation activity as it occurs, and providing the data openly, freely, and immediately to anyone around the world.
    For the first time on a scalable level, responsible agents can arrive on the scene in time to interrupt the perpetrators and stop the damage, and the world can listen in as it occurs.
  </p>
</div>
</div>
