.home {
    margin: 0 auto;
    padding: 20px;
    max-width: 800px;
    &__title {
        text-align: center;
        margin: 0 auto 15px;
    }
    &__content {
        margin: 0 auto;
    }
    &__img {
        display: block;
        width: 40%;
        float: left;
        margin-right: 15px;
    }
    &__text {
        margin: 0;
        text-align: justify;
    }
}