<div class="about">
  <div class="about__content">
    <div class="about__content-left">
      <h1 class="about__title">TURNING OLD PHONES INTO FOREST GUARDIANS</h1>
      <p class="about__text">
        Why use old, recycled smartphones to guard the rainforest? Because it could be the simplest, least expensive way to do it. Smartphones are arguably the most efficient, advanced, and well-understood computers available on the market today, and each year, more than 150 million phones are discardedin the United States alone. Rainforest Connection can take this "trash" and put it to use immediately. Today, many of earth's endangered forests are being touched by wireless telecommunications infrastructure. Rather than start from scratch, Rainforest Connection is already able to
        leverage this infrastructure from the start to protect some the world's most threatened forests.
      </p>
    </div>
    <div class="about__content-right">
      <img class="about__img" src="./assets/img/phone-trash-side.380.png" alt="">
    </div>
  </div>
</div>